[submodule "ideino"]
	path = ideino
	url = https://github.com/ideino/ideino-linino
[submodule "ideino-workspace"]
	path = ideino-workspace
	url = https://github.com/ideino/ideino-linino-examples
[submodule "ideino-linino-lib"]
	path = ideino-linino-lib
	url = https://github.com/ideino/ideino-linino-lib
